.banner{
    background: url("../images/sky.jpg") no-repeat bottom center; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-height: 100vh;
    background-color: #34383D;
}

.getStartedButton {
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    margin-left: -65px;
    color: #F6921E;
    font-size: 30px;
    text-decoration: none;
}

.getStartedButton:hover{
    color: white;
    transform: scale(1.3);
}


.pulse {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
   }
   
   @-webkit-keyframes color_change {
    from { color: #F6921E; }
    to { color: white; }
   }
   @-moz-keyframes color_change {
    from { color: #F6921E; }
    to { color: white; }
   }
   @-ms-keyframes color_change {
    from { color: #F6921E; }
    to { color: white; }
   }
   @-o-keyframes color_change {
    from { color: #F6921E; }
    to { color: white; }
   }
   @keyframes color_change {
    from { color: #F6921E; }
    to { color: white; }
   }

