html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #9DA8B4;
}


.title{
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: bold;
  color: #3B4045;
}


.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #F6921E;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  background: white;
  color: #F6921E;
  border: 1px solid #F6921E;
  cursor: pointer; 
}

.btn-secondary {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #F6921E;
  font-size: 25px;
  background: white;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn-secondary:hover {
  background: #F6921E;;
  color: white;
  border: 1px solid white;
  cursor: pointer; 
}

.cloud1{
 margin-left: 5%;
}


.cloud2{
  margin-left: 45%;
 }


 .cloud3{
  margin-left: 25%;
 }

 .cloud4{
  margin-left: 75%;

 }

 .cloud5{
  margin-left: 65%;
  
 }

 .cloud6{
  margin-left: 25%;
  
 }

.balloon{
  margin-left: 15%;
}

.featuresContainer{
  min-height: 100vh;
  margin:auto;
  padding:0;
}



@media only screen and (max-width: 600px) {
  body {
    
  }
}