.reviewsContainer{
    background: url("../images/adobe2.jpeg") no-repeat bottom center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: white;
    /* display: block; */
    position: relative;
    z-index: 1;
    width: 100vw;
    
}

.reviewsContainer:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  }

  .reviews{
      position: relative;
      z-index: 99;
  }

  .reviews-small{
    position: relative;
    z-index: 99;
  }


  .reviewContent{
      color: white;
  }

  .reviewTitle{
      font-size: 45px;
      color: #E7BD8C;
  }

  .reviewer{
      font-size: 30px;
  }

  .reviewContent-small{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.reviewTitle-small{
    font-size: 25px;
}

.reviewer-small{
    font-size: 15px;
}